body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #222;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
      helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    background-color: black;
  }

  .navbar {
    display: flex;
    align-items: center;
    color: black;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.navbar-item {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Add space between items */
    color: hotpink;
}

.navbar-icon {
  font-size: 24px;
  margin-right: 5px; /* Add space between icon and text */
  display: flex; /* Display icon and text in a single line */
  align-items: center; /* Center icon and text vertically */
}

.navbar-icon i {
  margin-right: 5px; /* Add space between icon and text */
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navbar-text {
  font-size: 16px;
  color: hotpink;
}

  .container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
  }
  
  h1 {
    font-size: 4.5rem;
    color:hotpink;
  }

  h2{
    font-size: 3.5rem;
    color:hotpink;
  }

  /* Hide the default list-style */
  ul {
    list-style: none;
  }

  /* Add a custom before pseudo-element to create invisible bullet points */
  ul li:before {
    content: '\2022'; /* Unicode character for bullet point (•) */
    color: transparent; /* Set the text color to transparent */
  }
  #taskList {
    list-style: none;
    padding: 0;
  }

  #taskList li {
      margin: 12px 0; /* Increase the margin to add more space between tasks */
      display: flex; /* Use flexbox to align checkbox and task text */
      align-items: center; /* Center items vertically within the list item */
  }

  #taskList li input[type="checkbox"] {
      margin-right: 10px;
      width:25px;
      height:25px;
  }

  #taskList li span {
    text-decoration: none; /* Remove default text decoration */
    font-size: 20px;
    color:hotpink
  }

  #taskList li.completed span {
      text-decoration: line-through; /* Apply strikethrough to the task text for completed tasks */
  }

/* 
  ul {
    background: #3399ff;
    padding: 20px;
  }

  ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
  } */